body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #9a0b25;
background-color: #760613;
margin: 0;
}   
main {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-style: oblique;
font-size: 60px;
color: #a6369f;
background-color: #dd8117;
text-align: center;
border: solid pink;
border-radius: 60px;
}
nav {
padding: 5px; 
font-weight: bold;
height: 140px;
display: inline;
word-spacing: 30px;
}
nav li {
display: inline;
}
nav li a {
text-decoration: line-through;
color: #c54949;
font-size: x-large;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
display: inline;
}
.placeholder {
width: 1260px;
padding: 5px 5px 5px 5px;
align-self: center;
height: 40px;
}
input {
width: 1260px;
font-size: x-large;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: bolder;
outline-style: none;
text-align: center;
background-color: #b74e61;
color: #360417;
border-radius: 13px;
}
nav li a:hover {
color: #dc5116;
}
header a {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 80px;
font-weight: bold;
text-align: center;
text-decoration: none;
}
.big {
color: #6d1284;
background-color: #360417;
text-align: center;
border-radius: 60px;
border: 10px solid rgb(216, 80, 65);
border-color: #c45485;
}
.big:link {
color: rgb(159, 75, 82);
}
.big:visited {
color: rgb(218, 112, 19);
}
.big:hover {
color: rgb(213, 105, 159);
}
.big:active {
color: rgb(60, 8, 41);
}
.pugg {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 60px;
color: #f28140;
background-color: rgb(154, 105, 202);
border-radius: 90px;
border: 10px solid rgb(189, 69, 21);
margin-left: 250px;
margin-right: 250px;
text-align: center;
}
div.gallery {
margin: 50px;
margin-top: 20px;
margin-bottom: 200px;
border: 20px solid #bb2e66;
border-style: double;
float: right;
width: 180px;
max-width: fit-content;
}
div.gallery:hover {
border: 5px solid #c66423;
}
div.gallery img {
width: 100%;
height: auto;
margin-bottom: 5px;
}
div.desc {
padding: 15px;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: large;
color: #c45485;
}
button {
width: 242px;
height: 100px;
margin-left: 5px;
margin-right: 5px;
margin-top: 5px;
text-align: center;
background-color: #c66423;
color: #871541;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: x-large;
border: none;
border-radius: 20px;
}
button:hover {
color: rgb(255, 225, 0);
align-items: center;
}
h2 {
color: #cd7618;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
margin-top: 50px;
margin-bottom: 100px;
} 
h3 {
color: #750c34;
margin-left: 310px;
margin-right: 310px;
background-color: #c5495a;
border: 20px solid #882828;
padding: auto;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
margin-bottom: 50px;
margin-top: 50px;
}
footer {
padding-top: 50px;
word-spacing: 50px;
text-align: center;
}
